In [169]:
import pandas as pd
import numpy as np
import os
import datetime

In [170]:
#read the path
file_path = "/Users/vedantigulalkari/Documents/Fall Module 2/WDA/WDA Final Project/Monthly Datasets"
#list all the files from the directory
file_list = os.listdir(file_path)
for f in file_list:
    print(f)

.DS_Store
202101-divvy-tripdata.csv
202102-divvy-tripdata.csv
202103-divvy-tripdata.csv

In [171]:
file_list.remove(".DS_Store")
len(file_list)

3

In [172]:
df = pd.concat([pd.read_csv("/Users/vedantigulalkari/Documents/Fall Module 2/WDA/WDA Final Project/Monthly Datasets/"+f) for f in file_list], ignore_index=True)
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374947,9397BDD14798A1BA,docked_bike,2021-03-20 14:58:56,2021-03-20 17:22:47,Michigan Ave & Oak St,13042,New St & Illinois St,TA1306000013,41.900960,-87.623777,41.890847,-87.618617,casual
374948,BBBEB8D51AAD40DA,classic_bike,2021-03-02 11:35:10,2021-03-02 11:43:37,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member
374949,637FF754DA0BD9E1,classic_bike,2021-03-09 11:07:36,2021-03-09 11:49:11,Michigan Ave & Oak St,13042,Clark St & Berwyn Ave,KA1504000146,41.900960,-87.623777,41.977997,-87.668047,member
374950,F8F43A0B978A7A35,classic_bike,2021-03-01 18:11:57,2021-03-01 18:18:37,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member
374951,3AE64EA5BF43CF72,electric_bike,2021-03-26 17:58:14,2021-03-26 18:06:43,NaN,NaN,New St & Illinois St,TA1306000013,41.880000,-87.630000,41.890818,-87.619540,member

In [173]:
# df_concat.to_csv("/Users/vedantigulalkari/Documents/Fall Module 2/WDA/WDA Final Project/Monthly Datasets/Concatenated_Data.csv")

In [174]:
df.shape

(374952, 13)

In [175]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [176]:
#missing values
df.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    27519
start_station_id      27519
end_station_name      32362
end_station_id        32362
start_lat                 0
start_lng                 0
end_lat                 484
end_lng                 484
member_casual             0
dtype: int64

In [199]:
#convert datatype 
#Convert to time format
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

ValueError: mixed datetimes and integers in passed array

In [198]:
df.dtypes

rideable_type          object
started_at             object
ended_at               object
start_station_name     object
end_station_name       object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
ridetime               object
dtype: object

In [180]:
# drop as not needed
df = df.drop(['ride_id', 'start_station_id', 'end_station_id'], axis = 1)

In [181]:
#handling start time more then end time
mask = df['started_at']>df['ended_at']

df.loc[mask, ['started_at', 'ended_at']] = (
    df.loc[mask, ['ended_at', 'started_at']].values)
df.head

<bound method NDFrame.head of         rideable_type           started_at             ended_at  \
0       electric_bike  2021-01-23 16:14:19  2021-01-23 16:24:44
1       electric_bike  2021-01-27 18:43:08  2021-01-27 18:47:12
2       electric_bike  2021-01-21 22:35:54  2021-01-21 22:37:14
3       electric_bike  2021-01-07 13:31:13  2021-01-07 13:42:55
4       electric_bike  2021-01-23 02:24:02  2021-01-23 02:24:45
...               ...                  ...                  ...
374947    docked_bike  2021-03-20 14:58:56  2021-03-20 17:22:47
374948   classic_bike  2021-03-02 11:35:10  2021-03-02 11:43:37
374949   classic_bike  2021-03-09 11:07:36  2021-03-09 11:49:11
374950   classic_bike  2021-03-01 18:11:57  2021-03-01 18:18:37
374951  electric_bike  2021-03-26 17:58:14  2021-03-26 18:06:43

                start_station_name       end_station_name  start_lat  \
0       California Ave & Cortez St                    NaN  41.900341
1       California Ave & Cortez St                    NaN  41.900333
2       California Ave & Cortez St                    NaN  41.900313
3       California Ave & Cortez St                    NaN  41.900399
4       California Ave & Cortez St                    NaN  41.900326
...                            ...                    ...        ...
374947       Michigan Ave & Oak St   New St & Illinois St  41.900960
374948    Kingsbury St & Kinzie St   New St & Illinois St  41.889177
374949       Michigan Ave & Oak St  Clark St & Berwyn Ave  41.900960
374950    Kingsbury St & Kinzie St   New St & Illinois St  41.889177
374951                         NaN   New St & Illinois St  41.880000

        start_lng    end_lat    end_lng member_casual
0      -87.696743  41.890000 -87.720000        member
1      -87.696707  41.900000 -87.690000        member
2      -87.696643  41.900000 -87.700000        member
3      -87.696662  41.920000 -87.690000        member
4      -87.696697  41.900000 -87.700000        casual
...           ...        ...        ...           ...
374947 -87.623777  41.890847 -87.618617        casual
374948 -87.638506  41.890847 -87.618617        member
374949 -87.623777  41.977997 -87.668047        member
374950 -87.638506  41.890847 -87.618617        member
374951 -87.630000  41.890818 -87.619540        member

[374952 rows x 10 columns]>

In [182]:
# df[df['started_at']>df['ended_at']]

Empty DataFrame
Columns: [rideable_type, started_at, ended_at, start_station_name, end_station_name, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [197]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

ValueError: mixed datetimes and integers in passed array

In [183]:
# df['hour'] = df['started_at'].dt.hour
# df = df.astype({'hour':'int8'})

In [184]:
df.columns

Index(['rideable_type', 'started_at', 'ended_at', 'start_station_name',
       'end_station_name', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [185]:
# df['hour'].head

In [186]:
# df['dayofweek'] = df['started_at'].dt.day_name()

In [187]:
# df['month'] = df['started_at'].dt.month_name()

In [188]:
# df['ride_length'] = (df['ended_at'] - df['started_at']) / datetime.timedelta(minutes=1)
# df['ride_length'] = df['ride_length'].astype('int32')

In [189]:
# df['ride_length']

In [190]:
# df['Ride_Length'] = ((df['ended_at'] - df['started_at']).dt.days) * 24 + ((df['ended_at'] - df['started_at']).dt.seconds)/ 3600

In [191]:
# df['Ride_Length'].head

In [192]:
# df.columns

In [193]:
# df['ridetime'] = df['ended_at'] - df['started_at']

In [194]:
# df['ridetime'].dtypes

dtype('O')

In [195]:
df['Ride_Length'] = ((df['ended_at'] - df['started_at']).dt.days) * 24 + ((df['ended_at'] - df['started_at']).dt.seconds)/ 3600

AttributeError: Can only use .dt accessor with datetimelike values